/*-----------------------------------------------------------------------------
Blendwave - Common styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Globals
-----------------------------------------------------------------------------*/

@appBG: #373a43;

.userSelect_off{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =General
-----------------------------------------------------------------------------*/
body{
    background: #191c28;
    font-family: 'interUI', Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.audioParams {
    margin-bottom: 2em;
}

.audioParams label{
    display: block;
    margin-bottom: 0.5em;
}

.audioParams input[type=range]{
    display: inline-block;
    width: 80%;
}

.audioParams legend{
    padding: 0 1em;
}

.audioParams output{
    display: inline-block;
    width: 15%;
}

.dspType{
    display: flex;
    margin-bottom: 1em;
}

.dspType select{
    margin-right: 2%;
}

.dspSetup{
    display: flex;
}

.dspSetup img{
    max-width: 100%;
}

.dspSetup fieldset{
    width: 100%;
}

.disabled, fieldset[disabled]{
    opacity: 0.5;
}

fieldset.disabled{
    opacity: 1;
    * {
        opacity: 0.5;
    }
    legend{
        opacity: 1;
    }

}

.bwBody{
    background-color: @appBG;
    color: #c8cada;
    border-radius: 0 0 6px 6px;
    padding-bottom: 3rem;
}



/* =Header
-----------------------------------------------------------------------------*/

.bwHeader{
    background-color: @appBG;
    color: #c8cada;
    border-radius: 6px 6px 0 0;
    margin-top: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1rem;
}

/* Main Nav */

.mainNav .logo{
    text-align: center;
}

.mainNav .logo img{
    width: 70%;
}

.mainNav ul{
    display: flex;
    justify-content: space-evenly;
}

.mainNav li{
    transition: all 1s;
    font-size: 1rem;
}

.mainNav li + li{
    margin-left: 1em;
}

.mainNav li a{
    color: #cfd5e7;
    display: flex;
    height: 100%;
    align-items: center;
    line-height: 1.2em;
}

.mainNav li a:hover{
    text-decoration: none;
    color: #fff;
}

.mainNav li svg{
    margin-right: 0.5rem;
}

.mainNav li.disabled a{
    cursor: not-allowed;
    text-decoration: line-through;
}

/* File Header */

.fileHeader{
    font-size: 1em;
    margin: 0 0 1em 0;
    cursor: pointer;
    background: #454850 url(../img/bt_play.png) 1rem center no-repeat;
    padding: 0.5rem 1rem 0.5rem 3rem;
    .userSelect_off;
}

.fileHeader:hover{
    background-color: #000;
}

.fileHeader_active, .fileHeader:active{
    background-color: #252525;
    color: #fff;
}

.fileHeader strong{
    color: #e8e8e8;
    font-weight: 700;
}

.fileHeader small{
    float: right;
    font-weight: 700;
    color: #9494a0;
}

/* =Titles
-----------------------------------------------------------------------------*/

.panelContent>h3{
    font-family: Comfortaa, sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    margin: 1rem 0 1rem 0;
    padding: 2rem 0 0 0;
    border-top: 1px solid #5d616f;
}

.panelContent h3 em{
    font-family: interUI, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: #c8cada;
}

.panelContent h3 em::before{
    content: ' - ';
}



/* =Components
-----------------------------------------------------------------------------*/

.titleBox header{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    margin-bottom: 1px;
}

.titleBox .main{
    background: #4b4f58;
    padding: 1rem 15px;
    font-weight: 500;
    color: #bcc2ce;
}

.titleBox{
     nav a, h4 {
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        transition: all 0.2s ease-in;
    }

    nav a{
        color: #646876;
        display: inline-block;
    }

}

.titleBox nav a + a{
    margin-left: 1.1rem;
}

.titleBox nav a.active{
    font-weight: 700;
}

.titleBox nav a:hover{
    text-decoration: none;
}

.categoryList li{
    margin-bottom: 1rem;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.categoryList li:hover{
    color: #fff;
}

