/*-----------------------------------------------------------------------------
Blendwave - Common styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Global Vars
-----------------------------------------------------------------------------*/

@appBG: #373a43;

.userSelect_off{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =General
-----------------------------------------------------------------------------*/
body{
    background: #191c28;
    font-family: 'interUI', Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.audioParams {
    margin-bottom: 2em;
}

.audioParams label{
    display: block;
    margin-bottom: 0.5em;
}

.audioParams input[type=range]{
    display: inline-block;
    width: 80%;
}

.audioParams legend{
    padding: 0 1em;
}

.audioParams output{
    display: inline-block;
    width: 15%;
}

.dspType{
    display: flex;
    margin-bottom: 1em;
}

.dspType select{
    margin-right: 2%;
}

.dspSetup{
    display: flex;
}

.dspSetup img{
    max-width: 100%;
}

.dspSetup fieldset{
    width: 100%;
}

.disabled, fieldset[disabled]{
    opacity: 0.5;
}

.bwBody{
    background-color: @appBG;
    color: #c8cada;
    border-radius: 0 0 6px 6px;
}


/* =Header
-----------------------------------------------------------------------------*/

.bwHeader{
    background-color: @appBG;
    color: #c8cada;
    border-radius: 6px 6px 0 0;
    margin-top: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1rem;
}

/* Main Nav */

.mainNav .logo{
    text-align: center;
}

.mainNav .logo img{
    width: 70%;
}

.mainNav ul{
    display: flex;
    justify-content: space-evenly;
}

.mainNav li{
    transition: all 1s;
    font-size: 1rem;
}

.mainNav li + li{
    margin-left: 1em;
}

.mainNav li a{
    padding: 0 0 0 2.7rem;
    color: #cfd5e7;
    display: flex;
    height: 100%;
    align-items: center;
    line-height: 1.2em;
}

.mainNav li a[href*="wave"]{
    background: url(../img/ic_wave.svg) no-repeat left center;
}

.mainNav li a[href*="envelope"]{
    background: url(../img/ic_envelope.svg) no-repeat left center;
}

.mainNav li a[href*="filter"]{
    background: url(../img/ic_filter.svg) no-repeat left center;
}

.mainNav li a[href*="fx"]{
    background: url(../img/ic_effects.svg) no-repeat left center;
}

.mainNav li a[href*="export"]{
    background: url(../img/ic_export.svg) no-repeat left center;
}


.mainNav li.disabled a{
    cursor: not-allowed;
    text-decoration: line-through;
}

/* File Header */

.fileHeader{
    font-size: 1em;
    margin: 0 0 1em 0;
    cursor: pointer;
    background: #454850;
    padding: 0.5em 0.5em;
    .userSelect_off;
}

.fileHeader:hover{
    background-color: #000;
}

.fileHeader_active, .fileHeader:active{
    background-color: #252525;
    color: #fff;
}

.fileHeader strong{
    color: #e8e8e8;
}

.fileHeader small{
    float: right;
    font-weight: bold;
}

/* =Panels General
-----------------------------------------------------------------------------*/

.panelContent{

}

.panelContent h3{
    font-size: 1.4em;
    border-bottom: 1px solid #A0A0A0;
    margin: 1em 0;
    padding-bottom: 0.5em;
}

.panelContent h3 em{
    font-style: normal;
    font-size: 0.8em;
}

.panelContent h3 em::before{
    content: ' - ';
}

fieldset.disabled{
    opacity: 1;
    * {
        opacity: 0.5;
    }
    legend{
        opacity: 1;
    }

}

