/*-----------------------------------------------------------------------------
Blendwave - Export Panel Styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Colors
-----------------------------------------------------------------------------*/
@exportPrimary: #fff;
@exportSecondary: #7e93e3;


/* =General
-----------------------------------------------------------------------------*/
.exportPanel .panelContent>h3{
    color: @exportPrimary;
}

nav .export:hover{
    .circle{
        stroke: @exportSecondary;
    }
}

.exportPanel{
    nav .export a{
        color: @exportSecondary;
    }

    nav .export .circle{
        stroke: @exportSecondary;
    }

    nav .export .icon path{
        stroke: #fff;
    }
}

.exportPanel .modal h6{
    border-bottom: 1px solid @exportSecondary;
}

/* =Mixer
-----------------------------------------------------------------------------*/
@iconDiameter: 50%;

.mixer{
    display: flex;
    justify-content: space-between;
}

.mixer .strip{
    flex: 0 0 18%;
    text-align: center;
}

.mixer .titleBox{
    height: 100%;
}

.mixer .titleBox header{
    font-weight: bold;
}

.mixer .titleBox .main{
    padding: 0 0 1rem 0;
    height: 90%;
    transition: opacity 0.3s ease-out;
}

.mixer .strip figure{
    background: @bwBase + 10%;
    padding: 1rem 0;
    border: 1px solid transparent; //hack for Edge
}

.mixer figure svg{
    width: @iconDiameter;
    height: auto;
}

.mixer .strip .toggleLabel{
    margin: 0.2rem 0 0 0;
    text-transform: uppercase;
}

.mixer .volumeMixer .main{
    padding-top: 10%;
}

@volSlider: 8rem;

.volumeMixer .slider{
    position: relative;
    height: 85%;
    margin: 0;
}

.volumeMixer .slider input[type=range]{
    height: @sliderHeight;
    width: @volSlider;
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: @sliderHeight/2;
    transform-origin: top right;
    transform: rotate(-90deg);
}

.volumeMixer output{
    margin: 0;
}

.export button{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.export .titleBox header{
    border-color: @bwBright;
}

.strip{
    .icon{
        stroke: #fff;
    }
    .icon path{
        stroke: #fff;
    }
}

.strip .disabled{
    figure{
        border: 1px solid @bwDark + 10%;
        opacity: 0.6;
        mix-blend-mode: overlay;
    }

    .circle{
        stroke: #969696;
    }

    .icon{
        stroke: #969696;
    }

    .icon path{
        stroke: #969696;
    }

}

.strip.envelope{
    .titleBox header{
        border-color: @ampSecondary;
        color: @ampPrimary;
    }

    .circle{
        stroke: @ampPrimary;
    }

    .toggleLabel{
        color: @ampPrimary;
    }

    label.switch::before{
        background: @ampPrimary;
    }
}

.strip.filter{
    .titleBox header{
        color: @filterPrimary;
        border-color: @filterSecondary;
    }

    .circle{
        stroke: @filterPrimary;
    }

    .toggleLabel{
        color: @filterPrimary;
    }

    label.switch::before{
        background: @filterPrimary;
    }
}

.strip.fx{
    .titleBox header{
        color: @fxPrimary;
        border-color: @fxSecondary;
    }

    .circle{
        stroke: @fxPrimary;
    }

    .icon #Ellipse2 path{
        fill: #fff;
    }

    .toggleLabel{
        color: @fxPrimary;
    }

    label.switch::before{
        background: @fxPrimary;
    }
}

.strip.volumeMixer{
    .titleBox header{
        color: @bwSecondary;
        border-color: @bwPrimary;
    }

    .slider input[type=range]::-webkit-slider-thumb {
        background: @bwPrimary;
    }

    .slider input[type=range]::-moz-range-thumb{
        background: @bwPrimary;
    }

    .slider input[type=range]::-ms-thumb{
        background: @bwPrimary;
    }
}

.strip.export{
    .titleBox header{
        color: @exportPrimary;
        border-color: @exportSecondary;
    }

    .circle{
        stroke: @exportSecondary;
    }

    .toggleLabel{
        color: @exportPrimary;
    }

    label.switch::before{
        background: @exportPrimary;
    }
}

/* =Exported Files
-----------------------------------------------------------------------------*/
.exportedFiles li {
    padding-bottom: 1.5em;
    border-bottom: 1px solid @bwBrighter;
    margin-bottom: 1rem;
}

.exportedFiles .mediaContainer{
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.exportedFiles .mediaContainer .player{
    height: 40px;
    margin-right: 0.5rem;
    background: #8192c7;
}

.exportedFiles .fileWaveform{
    background: #262930;
    flex-grow: 1;
}

.exportedFiles .fileButtons .bwButton{
    margin-right: 1%;
}

.exportedFiles h5{
    font-size: 0.9rem;
}

.exports{
    margin-top: 2em;
}

#dlTemplate{
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: none;
}


