/*-----------------------------------------------------------------------------
Blendwave - Effects Panel Styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Colors
-----------------------------------------------------------------------------*/
@fxPrimary: #77df29;
@fxSecondary: #6cfe00;


/* =General
-----------------------------------------------------------------------------*/
.fxPanel .panelContent>h3{
    color: @fxPrimary;
}

nav .fx:hover{
    .circle{
        stroke: @fxPrimary;
    }
}

.fxPanel{
    nav .fx a{
        color: @fxSecondary;
    }

    nav .fx .circle{
        stroke: @fxPrimary;
    }

    nav .fx .icon path{
        stroke: #fff;
    }
}

/* =Forms
-----------------------------------------------------------------------------*/
.fxPanel .audioParams header{
    color: @fxPrimary;
    border-color: @fxSecondary;
}

.fxPanel .switch::before{
    background: @fxPrimary;
}

.fxPanel .slider input[type=range]::-webkit-slider-thumb {
    background: @fxPrimary;
}

.fxPanel .slider input[type=range]::-moz-range-thumb{
    background: @fxPrimary;
}

.fxPanel .slider input[type=range]::-ms-thumb{
    background: @fxPrimary;
}


/* =FX Setup
-----------------------------------------------------------------------------*/
.fxSelect{
    margin: 10px 0 0 0;
    display: flex;
    align-items: flex-start;
}

.fxSelect p{
    padding-left: 5%;
    height: 3em;
    overflow: hidden;
    flex-grow: 1;
}

.fxSetup figure{
    .fxImg;
}

.effect{
    margin-bottom: 1rem;
}

.reverb{
    display: flex;
}
