/*-----------------------------------------------------------------------------
Blendwave - Main
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =General
-----------------------------------------------------------------------------*/
ul{
    list-style: none;
    padding: 0;
}

.userSelect_off{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.audioParams {
    margin-bottom: 2em;
}

.audioParams label{
    display: block;
    margin-bottom: 0.5em;
}

.audioParams input[type=range]{
    display: inline-block;
    width: 80%;
}

.audioParams legend{
    padding: 0 1em;
}

.audioParams output{
    display: inline-block;
    width: 15%;
}

.dspType{
    display: flex;
    margin-bottom: 1em;
}

.dspType select{
    margin-right: 2%;
}

.dspSetup{
    display: flex;
}

.dspSetup img{
    max-width: 100%;
}

.dspSetup fieldset{
    width: 100%;
}

.disabled, fieldset[disabled]{
    opacity: 0.5;
}

/* =Main
-----------------------------------------------------------------------------*/
.container{
    max-width: 990px;
    margin: 0 auto;
}

.fileHeader{
    font-size: 1em;
    margin: 0 0 1em 0;
    cursor: pointer;
    background: #eee;
    padding: 0.5em 0.5em;
    .userSelect_off;
}

.fileHeader:hover{
    background-color: #bfbfbf;
}

.fileHeader_active, .fileHeader:active{
    background-color: #252525;
    color: #fff;
}

.fileHeader small{
    float: right;
    font-weight: bold;
}

.panelContent{
    border: 1px solid #c4c4c4;
    padding: 3%;
}

.panelContent h3{
    font-size: 1.4em;
    border-bottom: 1px solid #A0A0A0;
    margin: 1em 0;
    padding-bottom: 0.5em;
}

.panelContent h3 em{
    font-style: normal;
    font-size: 0.8em;
}

.panelContent h3 em::before{
    content: ' - ';
}

fieldset.disabled{
    opacity: 1;
    * {
        opacity: 0.5;
    }
    legend{
        opacity: 1;
    }

}

.mainNav{
    margin: 1em 0;
}

.mainNav ul{
    display: flex;
}

.mainNav ul li + li{
    margin-left: 1em;
}

.mainNav li{
    transition: all 1s;
}

.mainNav li a{
    display: block;
    color: #000;
    padding: 1em;
    background: #eaeaea;
    border-radius: 5px;
}

.mainNav li.disabled a{
    cursor: not-allowed;
    text-decoration: line-through;
}

/* =Wave
-----------------------------------------------------------------------------*/
.fileList li a{
    display: block;
    padding: 1em 0.5em;
}

.fileList .active a, .fileList a:hover{
    background: #eee;
}

.wavePanel .loading{
    padding: 0.5em;
    height: 1em;
    margin-bottom: 2em;
    margin-top: -10px;
}

.wavePanel .loading p{
    border: 1px solid #e4acac;
    color: red;
}

.wavePanel .loading img{
    margin-right: 10px;
}

/* =Envelope
-----------------------------------------------------------------------------*/


/* =Filter
-----------------------------------------------------------------------------*/



/* =FX
-----------------------------------------------------------------------------*/

.fxSetup{
    margin-top: 20px;
}

.fxControls{
    margin: 10px 0;
    display: flex;
}

.fxControls p{
    margin: 0 10px;
}

.fxSetup img{
    width: 100%;
}

.effect{
    border-bottom: 1px dashed #000;
    margin-bottom: 30px;
}

.reverb{
    display: flex;
}


/* =Export
-----------------------------------------------------------------------------*/
.exportedFiles li {
    padding: 1em;
    border: 1px solid #8c8c8c;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    background: #e3e3e3;
}

.exportedFiles li audio {
    margin-right: 5%;
}

.exportedFiles li a{
    color: #3c59d4;
    background: #fff;
    padding: 1em;
    border-radius: 0.5em;
    text-decoration: underline;
    font-weight: bold;
}

.exportedFiles li a:hover{
    color: #000;
}

.exportBtn{
    padding: 1em;
    font-size: 1.2em;
}

.exports{
    margin-top: 2em;
}

.exports h4{
    border-bottom: 1px dotted #aaa;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.mixer{
    display: flex;
}

.mixer .strip{
    flex-grow: 1;
    text-align: center;
}

.mixer .strip p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    @circle-size: 13rem;
    height: @circle-size;
    width: @circle-size;
    border-radius: 50%;
    background: #a2a2a2;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
}

.mixer .strip p *{

}







