/*-----------------------------------------------------------------------------
Blendwave - Common styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =Typography
-----------------------------------------------------------------------------*/
/* Inter UI Regular */
@font-face {
  font-family: 'interUI';
  src: url('../fonts/inter_ui_regular.woff2') format('woff2'), url('../fonts/inter_ui_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* Inter UI Medium */
@font-face {
  font-family: 'interUI';
  src: url('../fonts/inter_ui_medium.woff2') format('woff2'), url('../fonts/inter_ui_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
/* Inter UI Bold */
@font-face {
  font-family: 'interUI';
  src: url('../fonts/inter_ui_bold.woff2') format('woff2'), url('../fonts/inter_ui_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* Comfortaa Regular */
@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/comfortaa-regular.woff2') format('woff2'), url('../fonts/comfortaa-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*-----------------------------------------------------------------------------
Blendwave - Common styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =Globals
-----------------------------------------------------------------------------*/
/* Gray Tones Color Palette */
.userSelect_off {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* =General
-----------------------------------------------------------------------------*/
body {
  background: url(../img/bg_pattern.png) repeat-x 0 0, #191c28 url(../img/bg_pattern_bottom.png) repeat-x bottom left;
  font-family: 'interUI', Arial, Helvetica, sans-serif;
  padding: 2rem 0;
  min-height: 100vh;
  color: #acacb8;
}
.bwBody {
  background-color: #373a43;
  border-radius: 0 0 6px 6px;
  color: #c8cada;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.container {
  max-width: 890px;
  padding-left: 30px;
  padding-right: 30px;
}
ul {
  list-style: none;
  padding: 0;
}
/* =Header
-----------------------------------------------------------------------------*/
.bwHeader {
  background-color: #30323a;
  border-radius: 6px 6px 0 0;
  color: #c8cada;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* Main Nav */
.mainNav .logo {
  text-align: center;
  margin: 0;
}
.mainNav .logo img {
  width: 70%;
  max-width: 120px;
}
.mainNav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.mainNav li {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  font-size: 1rem;
}
.mainNav li + li {
  margin-left: 1em;
}
.mainNav li a {
  color: #cfd5e7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.2em;
}
.mainNav li a:hover {
  text-decoration: none;
  color: #fff;
}
.mainNav li svg {
  margin-right: 0.5rem;
}
.mainNav li.disabled a {
  cursor: not-allowed;
  text-decoration: line-through;
}
/* File Header */
.fileHeader {
  background: #373a43;
  padding: 0.8rem 15px;
  border-bottom: 1px solid #5d616f;
}
.fhBody {
  font-size: 0.85em;
  cursor: pointer;
  background: #454850 url(../img/bt_play.png) 1rem center no-repeat;
  padding: 0.5rem 1rem 0.5rem 3rem;
  -webkit-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fhBody:hover {
  background-color: #262930;
}
.fileHeader_active,
.fileHeader:active {
  background-color: #252525;
  color: #fff;
}
.fileHeader strong {
  color: #e8e8e8;
  font-weight: 700;
}
.fileHeader small {
  float: right;
  font-weight: 700;
  color: #9494a0;
}
/* =Titles
-----------------------------------------------------------------------------*/
.panelContent > h3 {
  font-family: Comfortaa, sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  margin: 0 0 3rem 0;
}
.panelContent h3 em {
  font-family: interUI, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: #c8cada;
}
.panelContent h3 em::before {
  content: ' - ';
}
.panelContent h3 b {
  font-weight: normal;
}
.description {
  font-weight: 400;
  font-size: 0.75em;
}
/* =Components
-----------------------------------------------------------------------------*/
.titleBox header {
  font-size: 1rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  margin-bottom: 1px;
  font-weight: 700;
  min-height: 2.2em;
}
.titleBox .main {
  background: #4b4f58;
  padding: 1rem 15px;
  font-weight: 500;
  color: #bcc2ce;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.titleBox nav a,
.titleBox h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.titleBox nav a {
  color: #646876;
  display: inline-block;
}
.titleBox nav a + a {
  margin-left: 1.1rem;
}
.titleBox nav a.active {
  font-weight: 700;
}
.titleBox nav a:hover {
  text-decoration: none;
}
.bwButton {
  background: #262930;
  font-size: 0.95rem;
  text-align: center;
  border: none;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 400;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}
.bwButton:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.bwButton:focus {
  outline: none;
}
/* =Forms
-----------------------------------------------------------------------------*/
.audioParams header {
  font-size: 1rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  margin-bottom: 1px;
  font-weight: 700;
  min-height: 2.2em;
}
.audioParams .main {
  background: #4b4f58;
  padding: 1rem 15px;
  font-weight: 500;
  color: #bcc2ce;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.audioParams nav a,
.audioParams h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.audioParams nav a {
  color: #646876;
  display: inline-block;
}
.audioParams nav a + a {
  margin-left: 1.1rem;
}
.audioParams nav a.active {
  font-weight: 700;
}
.audioParams nav a:hover {
  text-decoration: none;
}
#blendwave .audioParams.disabled header {
  border-color: #61646e;
}
.audioParams {
  margin-bottom: 2em;
}
.audioParams header .description {
  float: right;
  margin-top: 0.6rem;
  color: #acacb8;
}
.audioParams header strong {
  display: inline-block;
  vertical-align: top;
}
.audioParams select {
  background: #373a43;
  border: 1px solid #939395;
  color: #bcc2ce;
  padding: 0.1rem 0;
  font-size: 0.9rem;
}
.audioParams select option {
  font-size: 0.9rem;
}
.audioParams .params label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.95rem;
  font-weight: 400;
}
.disabled .params {
  pointer-events: none;
  opacity: 0.5;
  mix-blend-mode: overlay;
}
/* Switch: Track */
.switch {
  border: 1px solid #5a5c62;
  background-color: #42424b;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(147, 147, 149, 0.4), inset 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 3px 0px rgba(147, 147, 149, 0.4), inset 0px 0px 8px 0px #000000;
  width: 3rem;
  border-radius: 1rem;
  margin: 0 0.4rem 0 0;
  position: relative;
  height: 1.55rem;
  cursor: pointer;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.switch input[type="checkbox"] {
  visibility: hidden;
}
/* Switch: Button - Enabled */
.switch::before {
  content: ' ';
  position: absolute;
  top: 3px;
  left: 1.6rem;
  width: 1.1rem;
  height: 1.1rem;
  background: #61646e;
  border: 0.15em solid #fff;
  border-radius: 50%;
  display: block;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* Switch: Button - Disabled */
body .disabled .switch::before,
.audioParams .disabledSwitch::before {
  left: 0.2rem;
  background: #cdcdcd;
}
.switch:focus {
  outline: none;
}
/* Sliders */
.audioParams .slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8rem;
  height: 1.6rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.audioParams .slider input[type=range] {
  display: inline-block;
  width: 82%;
  height: 100%;
  background: transparent;
  /* Otherwise white in Chrome */
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
}
.audioParams .slider input[type=range]:focus {
  outline: none;
}
/* Slider Thumb - Common rules */
.thumbStyle {
  border: 1px solid #000000;
  height: 1.1rem;
  width: 1.1rem;
  cursor: pointer;
  background: #61646e;
  border: 0.15em solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Slider Thumb - Browser Specific */
.audioParams .slider input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 1.1rem;
  width: 1.1rem;
  cursor: pointer;
  background: #61646e;
  border: 0.15em solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  top: 3px;
  margin: 0;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
.audioParams .slider input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 1.1rem;
  width: 1.1rem;
  cursor: pointer;
  background: #61646e;
  border: 0.15em solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  position: relative;
  box-sizing: border-box;
}
.audioParams .slider input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 1.1rem;
  width: 1.1rem;
  cursor: pointer;
  background: #61646e;
  border: 0.15em solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  position: relative;
  box-sizing: border-box;
}
/* Slider Track - Common rules */
.trackStyle {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #939395;
  background-color: #42424b;
  -webkit-box-shadow: inset 0px 0px 8px 0px #000000;
  box-shadow: inset 0px 0px 8px 0px #000000;
  border-radius: 4px;
  padding: 0 3px;
}
/* Slider Track - Browser Specific */
.audioParams .slider input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #939395;
  background-color: #42424b;
  -webkit-box-shadow: inset 0px 0px 8px 0px #000000;
  box-shadow: inset 0px 0px 8px 0px #000000;
  border-radius: 4px;
  padding: 0 3px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #939395;
  background-color: #42424b;
  box-shadow: inset 0px 0px 8px 0px #000000;
  border-radius: 4px;
  padding: 0 3px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #939395;
  background-color: #42424b;
  box-shadow: inset 0px 0px 8px 0px #000000;
  border-radius: 4px;
  padding: 0 3px;
}
.audioParams .slider output {
  width: 14%;
  height: 100%;
  background: #61646e;
  border-radius: 2px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*-----------------------------------------------------------------------------
Blendwave - Wave Panel Styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =General
-----------------------------------------------------------------------------*/
.wavePanel .panelContent > h3 {
  color: #9d72f6;
}
nav .wave:hover .circle {
  stroke: #8d57fd;
}
.wavePanel nav .wave a {
  color: #8e57ff;
}
.wavePanel nav .wave .circle {
  stroke: #8d57fd;
}
.wavePanel nav .wave .icon path {
  stroke: #fff;
}
/* =Categories
-----------------------------------------------------------------------------*/
.wavePanel .titleBox header {
  border-bottom-color: #8266ba;
}
.titleBox nav a.active,
.titleBox nav a:hover {
  color: #8266ba;
}
.titleBox nav a.active:hover {
  color: #a275ff;
}
.sampleCategories li {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.sampleCategories li.active {
  background: #61646e;
  padding: 0.5rem;
  border-radius: 2px;
  color: #e7e7ea;
  font-weight: 700;
}
.sampleCategories li:hover {
  color: #fff;
}
/* =Samples List
-----------------------------------------------------------------------------*/
.samplesList header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.samplesList header h4 {
  color: #8266ba;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.samplesList header label {
  font-size: 0.8em;
  font-weight: 400;
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.samplesList header label input[type="checkbox"] {
  margin-right: 2%;
}
.wavePreview {
  background: #262930;
  height: 80px;
  margin-bottom: 0.5rem;
}
.loadingSample {
  float: left;
  display: table;
  width: 100%;
  height: 100%;
  background: #262930;
  text-align: center;
}
.loadingSample .content {
  display: table-cell;
  vertical-align: middle;
}
.loadingSample img {
  margin-right: 10px;
}
.fileContainer {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 1rem;
}
.fileList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fileList .subcol + .subcol {
  margin: 0 2%;
}
.fileList a {
  display: block;
  padding: 0.5rem 0.5rem;
  color: #7184d3;
  text-decoration: underline;
  font-size: 0.9rem;
}
.fileList .active a,
.fileList a:hover {
  background: #262930;
  color: #cfd5e7;
}
/*-----------------------------------------------------------------------------
Blendwave - Envelope Panel
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =Colors
-----------------------------------------------------------------------------*/
/* =General
-----------------------------------------------------------------------------*/
.envelopePanel .panelContent > h3 b:nth-child(1) {
  color: #6ed2e1;
}
.envelopePanel .panelContent > h3 b:nth-child(2) {
  color: #54cd76;
}
nav .envelope:hover .circle {
  stroke: #46aec6;
}
.envelopePanel nav .envelope a {
  color: #46aec6;
}
.envelopePanel nav .envelope .circle {
  stroke: #46aec6;
}
.envelopePanel nav .envelope .icon {
  stroke: #fff;
}
/* =Amplitude
-----------------------------------------------------------------------------*/
.amplitude header {
  color: #6ed2e1;
  border-color: #46afc8;
}
.amplitude .switch::before {
  background: #6ed2e1;
}
.amplitude .slider input[type=range]::-webkit-slider-thumb {
  background: #6ed2e1;
}
.amplitude .slider input[type=range]::-moz-range-thumb {
  background: #6ed2e1;
}
.amplitude .slider input[type=range]::-ms-thumb {
  background: #6ed2e1;
}
/* =Pitch
-----------------------------------------------------------------------------*/
.pitch header {
  color: #54cd76;
  border-color: #52c673;
}
.pitch .switch::before {
  background: #52c673;
}
.pitch .slider input[type=range]::-webkit-slider-thumb {
  background: #54cd76;
}
.pitch .slider input[type=range]::-moz-range-thumb {
  background: #54cd76;
}
.pitch .slider input[type=range]::-ms-thumb {
  background: #54cd76;
}
/*-----------------------------------------------------------------------------
Blendwave - Filter Panel
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =Colors
-----------------------------------------------------------------------------*/
/* =General
-----------------------------------------------------------------------------*/
.filterPanel .panelContent > h3 {
  color: #f2ba41;
}
nav .filter:hover .circle {
  stroke: #f2ba41;
}
.filterPanel nav .filter a {
  color: #edab25;
}
.filterPanel nav .filter .circle {
  stroke: #f2ba41;
}
.filterPanel nav .filter .icon {
  stroke: #fff;
}
/* =Forms
-----------------------------------------------------------------------------*/
.filterPanel .audioParams header {
  color: #f2ba41;
  border-color: #edab25;
}
.filterPanel .switch::before {
  background: #f2ba41;
}
.filterPanel .slider input[type=range]::-webkit-slider-thumb {
  background: #f2ba41;
}
.filterPanel .slider input[type=range]::-moz-range-thumb {
  background: #f2ba41;
}
.filterPanel .slider input[type=range]::-ms-thumb {
  background: #f2ba41;
}
/* =filterType
-----------------------------------------------------------------------------*/
.filterType .none {
  opacity: 0.5;
  mix-blend-mode: overlay;
  pointer-events: none;
}
.filterSelect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.3rem;
}
.filterSelect p {
  margin: 0 0 0 3%;
}
.filterType img {
  width: 100%;
}
/*-----------------------------------------------------------------------------
Blendwave - Effects Panel Styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =Colors
-----------------------------------------------------------------------------*/
/* =General
-----------------------------------------------------------------------------*/
.fxPanel .panelContent > h3 {
  color: #77df29;
}
nav .fx:hover .circle {
  stroke: #77df29;
}
.fxPanel nav .fx a {
  color: #6cfe00;
}
.fxPanel nav .fx .circle {
  stroke: #77df29;
}
.fxPanel nav .fx .icon path {
  stroke: #fff;
}
/* =Forms
-----------------------------------------------------------------------------*/
.fxPanel .audioParams header {
  color: #77df29;
  border-color: #6cfe00;
}
.fxPanel .switch::before {
  background: #77df29;
}
.fxPanel .slider input[type=range]::-webkit-slider-thumb {
  background: #77df29;
}
.fxPanel .slider input[type=range]::-moz-range-thumb {
  background: #77df29;
}
.fxPanel .slider input[type=range]::-ms-thumb {
  background: #77df29;
}
/* =FX Setup
-----------------------------------------------------------------------------*/
.fxSetup {
  margin-top: 20px;
}
.fxSelect {
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.fxSelect p {
  margin: 0 10px;
}
.fxSetup img {
  width: 100%;
}
.effect {
  margin-bottom: 1rem;
}
.reverb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/*-----------------------------------------------------------------------------
Blendwave - Export Panel Styles
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =Colors
-----------------------------------------------------------------------------*/
/* =General
-----------------------------------------------------------------------------*/
.exportPanel .panelContent > h3 {
  color: #fff;
}
nav .export:hover .circle {
  stroke: #7e93e3;
}
.exportPanel nav .export a {
  color: #7e93e3;
}
.exportPanel nav .export .circle {
  stroke: #7e93e3;
}
.exportPanel nav .export .icon path {
  stroke: #fff;
}
/* =Mixer
-----------------------------------------------------------------------------*/
.mixer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mixer .strip {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 18%;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  text-align: center;
}
.mixer .titleBox {
  height: 100%;
}
.mixer .titleBox header {
  font-weight: bold;
}
.mixer .titleBox .main {
  padding: 0 0 1rem 0;
  height: 90%;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.mixer .strip figure {
  background: #41444d;
  padding: 1rem 0;
}
.mixer figure svg {
  width: 50%;
  height: auto;
}
.mixer .strip .toggleLabel {
  margin: 0.2rem 0 0 0;
  text-transform: uppercase;
}
.mixer .volumeMixer .main {
  padding-top: 10%;
}
.volumeMixer .slider {
  position: relative;
  height: 85%;
  margin: 0;
}
.volumeMixer .slider input[type=range] {
  height: 1.6rem;
  width: 8rem;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: 0.8rem;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.volumeMixer output {
  margin: 0;
}
.export button {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.export .titleBox header {
  border-color: #4b4f58;
}
.strip .icon {
  stroke: #fff;
}
.strip .icon path {
  stroke: #fff;
}
.strip.envelope .titleBox header {
  border-color: #46afc8;
  color: #6ed2e1;
}
.strip.envelope .circle {
  stroke: #6ed2e1;
}
.strip.envelope .toggleLabel {
  color: #6ed2e1;
}
.strip.envelope label.switch::before {
  background: #6ed2e1;
}
.strip.filter .titleBox header {
  color: #f2ba41;
  border-color: #edab25;
}
.strip.filter .circle {
  stroke: #f2ba41;
}
.strip.filter .toggleLabel {
  color: #f2ba41;
}
.strip.filter label.switch::before {
  background: #f2ba41;
}
.strip.fx .titleBox header {
  color: #77df29;
  border-color: #6cfe00;
}
.strip.fx .circle {
  stroke: #77df29;
}
.strip.fx .icon #Ellipse2 path {
  fill: #fff;
}
.strip.fx .toggleLabel {
  color: #77df29;
}
.strip.fx label.switch::before {
  background: #77df29;
}
.strip.volumeMixer .titleBox header {
  color: #8f68dc;
  border-color: #8266ba;
}
.strip.volumeMixer .slider input[type=range]::-webkit-slider-thumb {
  background: #8266ba;
}
.strip.volumeMixer .slider input[type=range]::-moz-range-thumb {
  background: #8266ba;
}
.strip.volumeMixer .slider input[type=range]::-ms-thumb {
  background: #8266ba;
}
.strip.export .titleBox header {
  color: #fff;
  border-color: #7e93e3;
}
.strip.export .circle {
  stroke: #7e93e3;
}
.strip.export .toggleLabel {
  color: #fff;
}
.strip.export label.switch::before {
  background: #fff;
}
/* =Exported Files
-----------------------------------------------------------------------------*/
.exportedFiles li {
  margin-bottom: 1.5em;
}
.exportedFiles .mediaContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.exportedFiles .mediaContainer .player {
  margin-right: 3%;
  background: #8192c7;
}
.exportedFiles li audio {
  mix-blend-mode: overlay;
}
.exportedFiles h5 {
  font-size: 0.9rem;
}
.exports {
  margin-top: 2em;
}
@media (min-width: 768px) {
  .mainNav .logo {
    text-align: left;
    margin: 0;
  }
  .envelopePanel .audioParams .params {
    min-height: 11rem;
  }
}
