/*-----------------------------------------------------------------------------
Blendwave - Main
Author: Werther Azevedo
-----------------------------------------------------------------------------*/
/* =General
-----------------------------------------------------------------------------*/
ul {
  list-style: none;
  padding: 0;
}
.userSelect_off {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* =Main
-----------------------------------------------------------------------------*/
.container {
  max-width: 990px;
  margin: 0 auto;
}
h2.fileHeader {
  font-size: 1em;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  background: #eee;
  padding: 0.5em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2.fileHeader_active {
  background: #252525;
  color: #fff;
}
fieldset.disabled {
  opacity: 0.5;
}
/* =Wave
-----------------------------------------------------------------------------*/
.fileList li a {
  display: block;
  padding: 0.2em 0;
}
.fileList .active,
.fileList a:hover {
  background: #eee;
}
/* =Envelope
-----------------------------------------------------------------------------*/
.envelope fieldset label {
  display: block;
  margin-bottom: 0.5em;
}
.envelope fieldset input[type=range] {
  display: inline-block;
}
.envelope fieldset legend {
  padding: 0 1em;
}
.envelope fieldset {
  margin-bottom: 2em;
}
