/*-----------------------------------------------------------------------------
Blendwave - Main
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Main
-----------------------------------------------------------------------------*/
.container{
    max-width: 990px;
    margin: 0 auto;
}

/* =Wave
-----------------------------------------------------------------------------*/

.fileList .active{
    background: #eee;
}





