/*-----------------------------------------------------------------------------
Blendwave - Main
Author: Werther Azevedo
-----------------------------------------------------------------------------*/

/* =Main
-----------------------------------------------------------------------------*/
.container{
    border: 1px solid red;
    max-width: 990px;
    margin: 0 auto;
}





