<section class="panelContent" data-panelname="export" id="export">
    <%- partial("_fileHeader") %>

    <h4>Saída<em>Revise os parâmetros de seu som e faça o download</em></h4>

    <button id="exportBtn">Exportar</button>

    <h5>Arquivos Exportados</h5>
    <ul id="recordingslist"></ul>
</section>