<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8">
    <title>Blendwave</title>

    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div class="container">
        <div id="blendwave">
        	<ul>
        		<li><a href="#wave">Wave</a></li>
        		<li><a href="#envelope">Envelope</a></li>
        		<li><a href="#filter">Filter</a></li>
        		<li><a href="#fx1">FX1</a></li>
        		<li><a href="#fx2">FX2</a></li>
        		<li><a href="#export">Export</a></li>
        	</ul>

            <%- yield %>
        </div>
    </div>


    <!-- Vendor -->
    <script src="js/vendor/jquery-3.1.1.min.js"></script>
    <script src="js/vendor/jquery-ui.min.js"></script>
    <script src="js/vendor/jquery.fileupload.js"></script>
    <script src="js/vendor/recorder.js"></script>
    <script src="js/vendor/Pizzicato.min.js"></script>

    <!-- Application -->
    <script src="js/main.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/wave.js"></script>
    <script src="js/envelope.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/fx.js"></script>
    <script src="js/export.js"></script>
</body>
</html>