<section class="panelContent" data-panelname="wave" id="wave">
    <%- partial("_fileHeader") %>

    <h3>Fonte Sonora <em>Escolha um som para servir de base</em></h3>

    <div class="row">
        <div class="col-sm-4 fileList" id="fileList">
            <ul>
                <li class="active"><a href="samples/sine.wav">Sine</a></li>
                <li><a href="samples/pig.wav">Pig</a></li>
                <li><a href="samples/sample.ogg">Acid</a></li>
                <li><a href="samples/door.ogg">Door</a></li>
                <li><a href="samples/machine.wav">Machine</a></li>
                <li><a href="samples/gem5.ogg">Gem5</a></li>
            </ul>

            <input type="file" id="wavefile" disabled="disabled"></input>
        </div>

        <div class="col-sm-8">

        </div>
    </div>
</section>

