<section class="panelContent" data-panelname="wave" id="wave">
    <h2 class="fileHeader">File: <span></span></h2>
    <div class="row">
        <div class="col-sm-6 fileList" id="fileList">
            <h4>Choose sound:</h4>
            <ul>
                <li class="active"><a href="samples/sine.wav">Sine</a></li>
                <li><a href="samples/pig.wav">Pig</a></li>
                <li><a href="samples/sample.ogg">Acid</a></li>
                <li><a href="samples/door.ogg">Door</a></li>
                <li><a href="samples/machine.wav">Machine</a></li>
                <li><a href="samples/gem5.ogg">Gem5</a></li>
            </ul>
        </div>

        <div class="col-sm-6 fileUpload" style="opacity: 0.5;">
            <h4>Upload custom sound:</h4>
            <input type="file" id="wavefile" disabled="disabled"></input>
        </div>
    </div>
</section>

